/* Whole page */

li {
    margin: 8px;
    text-decoration: none;
}

body {
    font-family: Georgia, sans-serif;
    background: #F0F8FF;
}

.recipes-body {
    padding-left: 2%;
}

.description, .ingredients, .steps {
    background-color: #A9A9A9;
    padding-left: 23%;
    width: 150px;
    color: #191970;
    text-align: center;

}

.recipes-body h1 {
    font-size: 42px;
    color: #191970;
}


img {
    float: right;
    padding-right: 5%;
}
/* Index*/ 

.index-body {
    font-family: Georgia, sans-serif;
    background: #F0F8FF;
    height: 870px;
    width: auto;
}

.recipes {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding-left: 43%;
}

a:link {
    text-decoration: none;
}

.index-body h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 15%;
    color: #778899;
}

/* CSS for Carbonara */


/* CSS for Blue cheese burger */

